<div class="z-10 inset-0 from-green-400 to-blue-400 absolute w-screen h-20 flex items-center justify-between shadow-2xl bg-gradient-to-r">
    <p class="font-extrabold tracking-tighter text-white text-3xl mx-5">CAL COUNT AI</p>
    <div class="w-auto h-auto flex font-extrabold tracking-tighter text-white text-3xl">
        <p class="mx-5 drop-shadow-xl">PRICING</p>
        <p class="mx-5 drop-shadow-xl">PRODUCTS</p>
        <p class="mx-5 underline drop-shadow-xl">SIGN IN</p>
    </div>
</div>

