<div class="my-25 text-center flex justify-around items-center">
    <div class="flex items-center">
        <h1 class="text-6xl font-bold">Welcome to Cal Count AI!</h1>
    </div>
    
    <div class="">
        <p class="text-3xl">MEAL</p>
        <p class="text-3xl">CALORIES</p>
        <p class="text-3xl">Just like that!</p>
    </div>
</div>
<div class="flex justify-around items-center bg-gradient-to-r from-green-400 to-blue-400 py-2 text-2xl text-white font-semibold tracking-widest">
    <p class="">No more counting</p>
    <div class="bg-white w-2 h-2 rounded-3xl"></div>
    <p class="">No more weighing</p>
        <div class="bg-white w-2 h-2 rounded-3xl"></div>

    <p class="">No more guessing</p>
        <div class="bg-white w-2 h-2 rounded-3xl"></div>

    <p class="">No more searching</p>
        <div class="bg-white w-2 h-2 rounded-3xl"></div>

    <p class="">No more excuses</p>
</div>

